:root{
  --first-color: #f00;
  --second-color: #0f0;
  --third-color: #00f;
  --fourth-color: #f0f;
  --grey-one: #3b3b3b;
  --grey-two: #595959;
  --grey-three: #f3f3f380;
  --grey-four: #cfcfcf;
}

#btnCarrito{
  font-size: 85%;
}

.imgCarrito{
  height: 30px;
  width: 30px;
}

#imgLogo{
  margin-right: 4px;
  border-radius: 10%;
}
#imgLogo:hover{
  box-shadow: 1px 3px 3px var(--grey-three);
}

#cajaCounter{
  height: 45px;
  width: 200px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
  border-radius: 4px;
  background: var(--grey-four);
  box-shadow:
    4px 4px 15px var(--grey-one),
    -2px -2px 5px var(--grey-two);
}

#cajaCantidadCounter{
  margin-left: 50px; 
  margin-right: 50px;

}

#btnSuma{
  margin-bottom: 5px;
  margin-left: 2px;
}
#btnResta{
  margin-bottom: 5px;
  margin-right: 2px;
}

#btnAgregar{
  margin-top: 0px;
  width: 200px;
}

#btnFinalizarCompra{
  margin-top: 5px;
  width: 200px;
}