:root{
  --grey-one: #3b3b3b;
  --grey-two: #595959;
  --grey-three: #f3f3f380;
  --grey-four: #cfcfcf;
}

* {
  font-family:  'Inter', sans-serif;
}

div.container-fluid{
  padding: 0 20px;
}

#btnCarrito{
  color: var(--grey-four);
  border: 1px solid var(--grey-four);
}

.imgCarrito{
  height: 30px;
  width: 30px;
}

img.img-fluid{
  width: 100%;
  border: 0px;
}

.img-thumbnail{
  border: 0px;
}

img#imgLogo{
  margin-right: 10px;
}

div.card {
  margin-bottom: 20px ;
}

ul.navbar-nav{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
v
a.navbar-brand {
  display: flex;
  align-items: center;
}

#imgLogo:hover{
  box-shadow: 1px 3px 3px var(--grey-three);
}

img.card-img-top{
  margin: 0;
  padding: 0;
}

h5.card-title{
  margin-top: 10px;
}

#cajaCounter{
  height: auto;
  width:  fit-content;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--grey-four);
}

#cajaCantidadCounter{
  margin: 0px 10px
}


